<div class="container" >
 <!--popUp-->
 <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Merci de nous contacter :)</p>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
  </ng-template>
  
 <!--<button class="PopUp" (click)="open(content)">Lire la suite</button>-->
 <!--popUp-->
    
    <div class="contenu">
        <div class="card " style="max-width: 735px;background-color: transparent;border: none;box-shadow: none;">
            <div class="row" style="padding: 5px;">
                <div class="col" style="line-height: 60px;text-align: left;">
                    <p><i class="fas fa-file-contract" style="margin-top: 3px; margin-right: 5px; font-size: larger;"></i><strong>N'hésitez pas à me contacter</strong> </p>
                </div>
                <div class="col justify-content-md-end" style="text-align: revert;line-height: 60px;">
                    <a href="assets/filePDF/CV_Marwen_Helali (2).pdf" ><button type="button" class="btn btn-outline-primary"><strong><i class="fas fa-file-download"></i>  TÉLÉCHARGER CV</strong> </button></a>
                </div>
                
            </div>
            
        </div>
        <!--experience-->
        <div class="titre"><h2><strong>Contact</strong> </h2></div>
        <div class="card mb-3" style="max-width: 730px;padding: 30px;border-radius: inherit;text-align: left;">
            <div class="row g-0">
                <form target="_blank" action="https://formsubmit.co/marwen.helali@gmail.com" method="POST">
                    <input type="hidden" name="_next" value="https://http://cv-marwen.herokuapp.com/contact">
                    <div class="form-group">
                    <div class="form-row">
                      <div class="col">
                        <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                      </div>
                      <div class="col">
                        <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
                  </div>
                  <button style="    color: aliceblue;font-size: larger;" type="submit" class="btn btn-md btn-info btn-block" (click)="open(content)">Envoyer</button>
                </form>


            </div>
        </div>
    </div>
</div>
      
        