 <!-- footer -->
 <div class="footer" style=" background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('assets/images/analysis_business_caf_coffee_communication_computer_connection_contemporary-1549861.jpg');
 background-size: cover;
 padding-left: 90px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="first">
                    <h4>Mes compétences</h4>

                  <li>Compétences analytiques</li>
                  <li>Des talents pour la résolution des problèmes</li>  
                  <li>Compétences de pensée critique</li>  
                  <li>Soucieux des détails</li>  
                  <li>Multitâche</li>  
                  <li>Motivé</li>  
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="second">
                    <h4> Navigation</h4>
                    <ul>
                        <li><a routerLink="propos">à propos de moi</a></li>
                        <li><a routerLink="cv">CV</a></li>
                        <li><a routerLink="projets">Projets</a></li>
                        <li><a routerLink="contact">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="third">
                    <h4> Contact</h4>
                    <ul>
                        <li>Marwen Helali</li>
                        <li><i class="far fa-phone-alt"></i> Tél : +116 22 430 749</li>
                        <li><i class="far fa-envelope"></i> marwen.helali@gmail.com</li> 
                        <li><i class="fas fa-map-marker-alt"></i> Tunisie, Tunis </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="line"></div>
                <div class="second2">
                    <a href="https://github.com/Marwen8helali" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                    <a href="https://www.linkedin.com/in/marwen-helali/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                    <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>

                </div>

            </div>
            
        </div>
        
    </div>
</div>
