<div class="container" >
 
    
    <div class="contenu">
        <div class="card " style="max-width: 735px;background-color: transparent;border: none;box-shadow: none;">
            <div class="row" style="padding: 5px;">
                <div class="col" style="line-height: 60px;text-align: left;">
                    <p><i class="far fa-file" style="margin-top: 3px; margin-right: 5px; font-size: larger;"></i><strong>Mon CV</strong> </p>
                </div>
                <div class="col justify-content-md-end" style="text-align: revert;line-height: 60px;">
                    <a href="assets/filePDF/CV_Marwen_Helali (2).pdf" ><button type="button" class="btn btn-outline-primary"><strong><i class="fas fa-file-download"></i>  TÉLÉCHARGER CV</strong> </button></a>
                </div>
                
            </div>
            
        </div>
        <!--experience-->
        <div class="titre"><h2><strong>Expérience</strong> </h2></div>
        <div class="card mb-3" style="max-width: 730px;padding: 30px;border-radius: inherit;text-align: left;">
            <div class="row g-0">
            <div class="col-md-4">
               
                    <div class="card-body">
                      <h5 class="card-title" style="color: #1e1eff;margin-bottom: 20px;">De mai 2021 à septembre 2021</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Cabinet de comptabilité CFF</h6>
                      <p class="card-text"> Stagaire </p>
                    </div>
                  
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text">Conception et développement d'une application web de comptabilite <br>
                   <strong>Technologies :</strong>  Mysql, Springboot 5, Angular 10, Docker-compose</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            </div>
        </div>
      
        <div class="card mb-3" style="max-width: 730px;padding: 30px;border-radius: inherit;text-align: left;">
            <div class="row g-0">
            <div class="col-md-4">
               
                    <div class="card-body">
                      <h5 class="card-title" style="color: #1e1eff;margin-bottom: 20px;">De septembre 2020 à novembre 2020</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Matière : Projet Framework ULT</h6>
                      <p class="card-text"> Projet fin d'année </p>
                    </div>
                  
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text">Ce projet vise à créer un service de café intelligent, permettant aux clients de commander et de réserver depuis l'application web.<br>
                   <strong>Technologies :</strong>  (MEAN stack) :MongoDB, Express js, Angular10, Node js</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 730px;padding: 30px;border-radius: inherit;text-align: left;">
            <div class="row g-0">
            <div class="col-md-4">
               
                    <div class="card-body">
                      <h5 class="card-title" style="color: #1e1eff;margin-bottom: 20px;">De juillet 2020 à août 2020</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Société d'étude et d'exécution des travaux de minage</h6>
                      <p class="card-text"><small class="text-muted">Stagaire</small></p>
                      <p class="card-text"> Développement une application web </p>
                    </div>
                  
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text">Développement ' full stack ' d'une application web  de gestion de Park des véhicules ainsi que la gestion de stock.<br>
                   <strong>Technologies :</strong>  (MERN stack) : Mysql, Express js,  React js, Node js, Docker, Docker-compose</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            </div>
        </div>
        <!--formation-->
        <div class="titre"><h2><strong>Formation</strong> </h2></div>
        <div class="card mb-3" style="max-width: 730px;padding: 30px;border-radius: inherit;text-align: left;">
            <div class="row g-0">
            <div class="col-md-4">
               
                    <div class="card-body">
                      <h5 class="card-title" style="color: #1e1eff;margin-bottom: 20px;">Depuis septembre 2018</h5>
                      <h6 class="card-subtitle mb-2 text-muted">l'Université Libre de Tunis, l'ULT </h6>
                      <!--<p class="card-text"><small class="text-muted">Stagaire</small></p>-->
                      <p class="card-text"> Ingénieur informatique </p>
                    </div>
                  
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text">Systèmes d’information & Génie logiciel<br>
                   
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            </div>
        </div>
      
        <div class="card mb-3" style="max-width: 730px;padding: 30px;border-radius: inherit;text-align: left;">
            <div class="row g-0">
            <div class="col-md-4">
               
                    <div class="card-body">
                      <h5 class="card-title" style="color: #1e1eff;margin-bottom: 20px;">De septembre 2014 à juin 2017</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Institut Supérieur des Etudes Technologique de Mahdia, ISET </h6>
                      <!--<p class="card-text"><small class="text-muted">Stagaire</small></p>-->
                      <p class="card-text"> Génie mécanique </p>
                    </div>
                  
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text">Filaire _ conception et fabrication mécanique.<br>
                    programmation des machines de fabrication a commande numérique
                   
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 730px;padding: 30px;border-radius: inherit;text-align: left;">
            <div class="row g-0">
            <div class="col-md-4">
               
                    <div class="card-body">
                      <h5 class="card-title" style="color: #1e1eff;margin-bottom: 20px;">De septembre 2013 à juin 2014</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Établissement d'enseignement secondaire beb elkhadra </h6>
                      <!--<p class="card-text"><small class="text-muted">Stagaire</small></p>-->
                      <p class="card-text"> Baccalauréat  </p>
                    </div>
                  
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text">Section science technique.</p>
                   
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            </div>
        </div>

        <!--competence-->
        <!--<div class="titre"><h2><strong>con</strong> </h2></div>-->
        <div class="card mb-3" style="max-width: 730px;padding: 30px;border-radius: inherit;text-align: left;">
            <div class="col g-0">
                <div class="col-md-16">
                    <div class="card-body">
                    <h5 class="card-title">Compétences</h5>
                    <!--card 1-->
                    <div class="row">
                        <div class="col-md-16">
                            <div class="card border-primary" >
                                <div class="card-header">Devops</div>
                                <div class="table-responsive" id="no-more-tables">
                                    <table class="table">
                                        <thead class="table-info">
                                          <tr>
                                            
                                            <th scope="col">Technologies</th>
                                            <th scope="col" style="text-align: center;">icon</th>
                                            <th scope="col" style="text-align: center;">Nombre de projet</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td data-title="Tech." scope="row" >Docker</td>
                                            <td style="text-align: center;" data-title="icon"><i class="fab fa-docker"></i></td>
                                            <td style="text-align: center;" data-title="N_projet">6</td>
                                          </tr>
                                          <tr>
                                            <td data-title="Tech." scope="row" >github</td>
                                            <td style="text-align: center;" data-title="icon"><i class="fab fa-github"></i></td>
                                            <td style="text-align: center;" data-title="N_projet">2</td>
                                            
                                          </tr>
                                          <tr>
                                            <td data-title="Tech." scope="row" >Jenkins</td>
                                            <td style="text-align: center;" data-title="icon"><i style="font-size: x-large;" class="fab fa-jenkins"></i></td>
                                            <td style="text-align: center;" data-title="N_projet">5</td>
                                            
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                </div>
                        </div>
                        <!--card 2-->
                        <div class="col-md-16">
                            <div class="card border-primary" >
                                <div class="card-header">Langage de programmation</div>
                                <div class="table-responsive" id="no-more-tables">
                                    <table class="table">
                                        <thead class="table-info">
                                          <tr>
                                            
                                            <th scope="col">Technologies</th>
                                            <th scope="col" style="text-align: center;">icon</th>
                                            <th scope="col" style="text-align: center;">Nombre de projet</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td data-title="Tech." scope="row" >JavaScript ES6</td>
                                            <td style="text-align: center;" data-title="icon"><i class="fab fa-js-square"></i></td>
                                            <td style="text-align: center;" data-title="N_projet">6</td>
                                          </tr>
                                          <tr>
                                            <td data-title="Tech." scope="row" >Java 11</td>
                                            <td style="text-align: center;" data-title="icon"><i class="fab fa-java"></i></td>
                                            <td style="text-align: center;" data-title="N_projet">2</td>
                                            
                                          </tr>
                                          <tr>
                                            <td data-title="Tech." scope="row" >PHP 7</td>
                                            <td style="text-align: center;" data-title="icon"><i class="fab fa-php"></i></td>
                                            <td style="text-align: center;" data-title="N_projet">5</td>
                                            
                                          </tr>
                                          <tr>
                                            <td data-title="Tech." scope="row" >python3</td>
                                            <td style="text-align: center;" data-title="icon"><i class="fab fa-python"></i></td>
                                            <td style="text-align: center;" data-title="N_projet">5</td>
                                            
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                </div>
                            </div>
                            <!--card 3-->
                            <div class="col-md-16">
                                <div class="card border-primary">
                                    <div class="card-header">Framework</div>
                                    <div class="table-responsive" id="no-more-tables">
                                        <table class="table">
                                            <thead class="table-info">
                                              <tr>
                                                
                                                <th scope="col">Technologies</th>
                                                <th style="text-align: center;" scope="col">icon</th>
                                                <th style="text-align: center;" scope="col">Nombre de projet</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td data-title="Tech." scope="row" >Node Js 16</td>
                                                <td style="text-align: center;" data-title="icon"><i class="fab fa-node"></i></td>
                                                <td style="text-align: center;" data-title="N_projet">6</td>
                                              </tr>
                                              <tr>
                                                <td data-title="Tech." scope="row" >React Js 16</td>
                                                <td style="text-align: center;" data-title="icon"><i class="fab fa-react"></i></td>
                                                <td style="text-align: center;" data-title="N_projet">2</td>
                                                
                                              </tr>
                                              <tr>
                                                <td data-title="Tech." scope="row" >Angular 11</td>
                                                <td style="text-align: center;" data-title="icon"><i class="fab fa-angular"></i></td>
                                                <td style="text-align: center;" data-title="N_projet">5</td>
                                                
                                              </tr>
                                              <tr>
                                                <td data-title="Tech." scope="row" >Spring boot 5</td>
                                                <td style="text-align: center;" data-title="icon"><img style="width: 26px;" src="assets/images/th.jpg" alt="icon"></td>
                                                <td style="text-align: center;" data-title="N_projet">5</td>
                                                
                                              </tr>
                                              <tr>
                                                <td data-title="Tech." scope="row" >Symfony 4</td>
                                                <td style="text-align: center;" data-title="icon"><i class="fab fa-symfony"></i></td>
                                                <td style="text-align: center;" data-title="N_projet">5</td>
                                                
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                    </div>
                                </div>
                            <!--/card 4-->
                            <div class="col-md-16">
                                <div class="card border-primary">
                                    <div class="card-header">Base de donné</div>
                                    <div class="table-responsive" id="no-more-tables">
                                        <table class="table">
                                            <thead class="table-info">
                                              <tr>
                                                
                                                <th scope="col">Technologies</th>
                                                <th style="text-align: center;" scope="col">icon</th>
                                                <th style="text-align: center;" scope="col">Nombre de projet</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td data-title="Tech." scope="row" >MySql</td>
                                                <td style="text-align: center;" data-title="icon"><i class="fab fa-docker"></i></td>
                                                <td style="text-align: center;" data-title="N_projet">6</td>
                                              </tr>
                                              <tr>
                                                <td data-title="Tech." scope="row" >phpmyadmin</td>
                                                <td style="text-align: center;" data-title="icon"><i class="fab fa-github"></i></td>
                                                <td style="text-align: center;" data-title="N_projet">2</td>
                                                
                                              </tr>
                                              <tr>
                                                <td data-title="Tech." scope="row" >workbench</td>
                                                <td style="text-align: center;" data-title="icon"><i style="font-size: x-large;" class="fab fa-jenkins"></i></td>
                                                <td style="text-align: center;" data-title="N_projet">5</td>
                                                
                                              </tr>
                                              <tr>
                                                <td data-title="Tech." scope="row" >MongoDB</td>
                                                <td style="text-align: center;" data-title="icon"><i style="font-size: x-large;" class="fab fa-jenkins"></i></td>
                                                <td style="text-align: center;" data-title="N_projet">5</td>
                                                
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                    </div>
                                </div>
                            <!--card 5-->
                            <div class="col-md-16">
                                <div class="card border-primary" >
                                    <div class="card-header" >Méthode de développement agile </div>
                                    <div class="table-responsive" id="no-more-tables">
                                        <table class="table">
                                            <thead class="table-info">
                                              <tr>
                                                
                                                <th scope="col">Technologies</th>
                                                <th style="text-align: center;" scope="col">icon</th>
                                                <th style="text-align: center;" scope="col">Nombre de projet</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td data-title="Tech." scope="row" >Scrum</td>
                                                <td style="text-align: center;" data-title="icon"><img style="width: 30px;" src="assets/images/sprint (1).png" alt="sprint"> </td>
                                                <td style="text-align: center;" data-title="N_projet">All</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-16">
                        <div class="card-body">
                        <h5 class="card-title">Langues</h5>
                        <div class="col-md-16">
                            <div class="card border-primary" >
                                <div class="table-responsive" id="no-more-tables">
                                    <table class="table">
                                        <thead class="table-info">
                                        <tr>
                                            
                                            <th scope="col">Langues</th>
                                            <th style="text-align: center;" scope="col">compethence</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td data-title="Tech." scope="row" >Anglais</td>
                                            <td style="text-align: center;" data-title="N_projet">Notion technique</td>
                                        </tr>
                                        <tr>
                                            <td data-title="Tech." scope="row" >Francais</td>
                                            <td style="text-align: center;" data-title="N_projet">Bon niveau</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-16">
                <div class="card-body">
                <h5 class="card-title">Centres d'intérêt</h5>
                <div class="col-md-16">
                    <div class="card border-primary" >
                        <div class="table-responsive" id="no-more-tables">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td data-title="Tech." scope="row" >Jeux d'esprit</td>
                                    <td style="text-align: center;" > jeu d'échec </td>
                                    <td style="text-align: center;" ><i class="fas fa-chess"></i></td>
                                </tr>
                                <tr>
                                    <td data-title="Tech." scope="row" >Sport</td>
                                    <td style="text-align: center;"> handball et autre</td>
                                    <td style="text-align: center;"><i class="fas fa-baseball-ball"></i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
</div>

